@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind page;

html {
  scroll-behavior: smooth;
  background-color: darkgray;
}

.galeri {
  font: bold;
}


.container-all {
   min-height: 100vh;
  background-image: url("WhatsApp-Image-2023-11-13-at-10.40.01.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
 
 
}

.containernavbar {
border-bottom: 1px solid white;
background: rgba(0, 0, 0, .4);
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}

.warna {
  color: white;
}

.italic {
  font-style: italic;
}

.hijauMuda {
  color: lightgreen;
}


* basicStyle.css
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: black;
  min-height: 100vh;
}

section#gallery {
  background: red;
  min-height: 100vh;
}

section#about {
  background: green;
  min-height: 100vh;
}

section#contact {
  background: blue;
  min-height: 100vh;
}


LandingPage.css
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

#showcase {
  background: url("./WhatsAppImage23-11-13at10.39.43.jpeg")
  100vw 0 no-repeat,
url('./aplay.jpeg')
  0 0 no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  padding: 0 20px;
  animation: slide-right 15s forwards 2s infinite;
}

@keyframes slide-right {
  0% {
    background-position: 100vw 0, 0 0;
  }
  50% {
    background-position: 0vw 0, 0 0;
  }
  100% {
    background-position: 100vw 0, 0 0;
  }
}

#showcase h1 {
  font-size: 50px;
 
  
}

#showcase p {
  font-size: 20px;
  color: #fff;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  border: #fff 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.main-section div.iScrollIndicator {
  background: white !important;
}

.navbar {
  position: fixed;

  top: 0;

  z-index: 1;
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(57, 77, 95, 0.7);
  z-index: 2;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 10px;
  padding: 5px;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .button {
  margin: 10px;
  display: grid;
  place-items: center;
}


.selamatdatang1 {
top: -100px;
padding: none;
}

.selamatdatang2 {
  top: -120px;
  padding: none;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.padding {
  padding: 3px;
  text-decoration: underline gold;
  color: white;
  font-size: 2.0em;
}

.backround {
  background-image: url(./Capture.PNG);
  background-size: cover;
  padding: 40px;
}

.heading {
    text-align: right;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 60px;
    padding-bottom: none;
    padding-left: 60px;
    color: white;
    text-decoration: underline gold;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.map {
  padding: 30px;
  padding-left: 10%;
}

.map-responsive{



  padding-bottom:57%;




}

.map-responsive iframe{

  

  height:50%;

  width:50%;

  position:absolute;

}


.kontakinfo {
  padding-left:75%;
}

.aliu {
 display: flex;
}

@media (min-width: 320px) and (max-width: 767px){
  .map-responsive{

    overflow:hidden;
  
    padding-bottom:56.25%;
  
    position:relative;
  
    height:0;
  
  }

  .aliu {
    display: block;
  }


  
  .map-responsive iframe{
  
    left:0;
  
    top:0;
  
    height:100%;
  
    width:100%;
  
    position:absolute;
  
  }
}




 
